<div id="googlemaps" style="
	background-color: #cbe0cf;
	color: #000000;
	height: 100%;
	left: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	width: 100%;
	display: none;
">
	<div id="page-header" style="
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		background-color: rgb(203, 224, 207);
		height: 55px;
	">
		<div id="back-button" style="
			position: absolute;
			cursor: pointer;
			left: 5px;
			top: 5px;
			background-color: #CD0000;
			border-radius: 5px;
			color: rgb(255, 255, 255);
			font-family: Helvetica;
			font-size: 13px;
			font-style: normal;
			font-weight: 700;
			text-align: center;
			text-decoration: none;
			text-shadow: none;
			height: 45px;
			line-height: 45px;
			width: 114px;
		">&lt; Back</div>
		<div id="title" style="
			position: absolute;
			cursor: pointer;
			left: 124px;
			top: 5px;
			background-color: #F5831D;
			border-radius: 5px;
			color: rgb(255, 255, 255);
			font-family: Helvetica;
			font-size: 13px;
			font-style: normal;
			font-weight: 700;
			text-align: center;
			text-decoration: none;
			text-shadow: none;
			height: 45px;
			line-height: 45px;
			width: 367px;
		">Google Maps Demo</div>
	</div>

	<div id="page-body" style="
		background-color: #cbe0cf;
		color: #000000;
		height: 100%;
		overflow: hidden;
		position: absolute;
		width: 100%;
		display: block;
	">
		<div id="map_canvas" style="
			width:100%;
			height:100%;
			background-color: #00A4E0;
		">
		</div>
	</div>
	<div id="page-footer" style="
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;
		background-color: rgb(203, 224, 207);
		height: 55px;
	">
		<div id="footer-text" style="
			position: absolute;
			cursor: pointer;
			left: 5px;
			bottom: 5px;
			background-color: #F5831D;
			border-radius: 5px;
			color: rgb(255, 255, 255);
			font-family: Helvetica;
			font-size: 13px;
			font-style: normal;
			font-weight: 700;
			text-align: center;
			text-decoration: none;
			text-shadow: none;
			height: 45px;
			line-height: 45px;
			width: 367px;
		">(c) 2015 - Houcine Romdhane</div>
	</div>
</div>