<div id="listview" style="
	background-color: #cbe0cf;
	color: #000000;
	height: 100%;
	left: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	width: 100%;
	display: none;
">
	<div id="page-header" style="
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		background-color: rgb(203, 224, 207);
		height: 55px;
	">
		<div id="title" style="
			position: absolute;
			cursor: pointer;
			left: 5px;
			top: 5px;
			background-color: #F5831D;
			border-radius: 5px;
			color: rgb(255, 255, 255);
			font-family: Helvetica;
			font-size: 13px;
			font-style: normal;
			font-weight: 700;
			text-align: center;
			text-decoration: none;
			text-shadow: none;
			height: 45px;
			line-height: 45px;
			width: 367px;
		">PhoneGap Demos</div>
	</div>

	<div id="page-body" style="
		position: absolute;
		left: 0px;
		top: 55px;
		width:100%;
		height:200px;
		background-color: #00A4E0;
	">
		<ul>
			<li id="listview-demo1" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					">PhoneGap: Take Picture</div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>

			<li id="listview-demo2" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					">PhoneGap: Google Maps</div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>
			
			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					">PhoneGap, AngularJS: Phone Catalog</div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>
			
			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>
			
			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>
			
			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>

			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>

			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>

			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>
			
			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>
			
			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>
			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>
			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>
			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>
			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>
			<li id="listview-demo3" style="
				display: block;
				overflow: visible;
				position: relative;
				text-align: left;
				cursor: pointer;
				font-family: Helvetica,Arial,sans-serif;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				text-shadow: 0 1px 0 #fff;
				height: 50px;
				background-color: #FFFFFF;
				border-bottom: 1px solid #9daca9;
				border-top: 1px solid #fff;
			">
				<div style="
					cursor: pointer;
					font-family: Helvetica,Arial,sans-serif;
					color: #222;
					font-weight: bold;
					text-shadow: 0 1px 0 #fff;
				">
					<div style="
						color: #2f3e46;
						font-family: Helvetica,Arial,sans-serif;
						font-size: 16px;
						font-weight: bold;
						left: 15px;
						list-style: outside none none;
						overflow: hidden;
						padding-right: 40px;
						position: relative;
						text-align: left;
						text-decoration: none !important;
						text-overflow: ellipsis;
						text-shadow: 0 1px 0 #fff;
						top: 15px;
						white-space: nowrap;
						line-height: 20px;
					"> </div>
					<span style="
						margin-top: -9px;
						position: absolute;
						top: 50%;
						right: 10px;
						height: 18px;
						width: 18px;
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
						background-position: -108px -1px;
						background-color: rgba(0, 0, 0, 0.4);
						background-image: url('images/icons-18-white.png');
						background-repeat: no-repeat;
						border-radius: 9px;
						text-align: left;
						list-style: outside none none;
						font-size: 16px;
						white-space: nowrap;
						cursor: pointer;
						font-family: Helvetica,Arial,sans-serif;
						color: #222;
						font-weight: bold;
						text-shadow: 0 1px 0 #fff;
					"> </span>
				</div>
			</li>
		</ul>
	</div>
	<div id="page-footer" style="
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;
		background-color: rgb(203, 224, 207);
		height: 55px;
	">
		<div id="footer-text" style="
			position: absolute;
			cursor: pointer;
			left: 5px;
			bottom: 5px;
			background-color: #F5831D;
			border-radius: 5px;
			color: rgb(255, 255, 255);
			font-family: Helvetica;
			font-size: 13px;
			font-style: normal;
			font-weight: 700;
			text-align: center;
			text-decoration: none;
			text-shadow: none;
			height: 45px;
			line-height: 45px;
			width: 367px;
		">(c) 2015 - Houcine Romdhane</div>
	</div>
</div>
